<head>
  <meta charset="utf-8">
  <title>Blog-Gen</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/styles/reset.css">
  <link rel="stylesheet" href="/public/styles/variables.css">
  <link rel="stylesheet" href="/public/styles/styles.css">
  <script src="/public/scripts/globals.js"></script>
</head>
