<header>
  <nav class="mainNav">
    <a href="/"><div class="navItem">Home</div></a>
    <a href="/about"><div class="navItem">About</div></a>
    <a href="/blog"><div class="navItem">Blog</div></a>
    <a href="/contact"><div class="navItem">Contact</div></a>
  </nav>
</header>
