

<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog General</title>
  </head>
  <body>
    <header class="font-medium">
      <a href="/includes/link"><h1>Link</h1></a>
    </header>
  </body>

</html>
